p{
    color: var(--accentText);
    font-family: "Red Hat Display";
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}
@media (1000px <= width <= 601px) {
p{
    font-size: 18px;
}
}

@media (0px <= width <= 600px) {
p{
    font-size: 20px;
}
}