.card2flex{
    display: flex;
width: 344px;
flex-direction: column;
align-items: flex-start;
gap: 0px;
margin: 10px;
}
.card2flex img{
    width: 100%;
    height: 348px;
    object-fit: cover;
    max-width: unset;
}
h5{
    color: var(--accentText);
    margin:10px 0 0 0;
}
h6{
    color: var(--accentText);
    font-family: "Red Hat Display";
    font-size: 20px;
    font-weight: 500;
}