.cardFlex{
    display: flex;
    flex-direction: column;
    background: var(--bgUnchanged);
box-shadow: 8px 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
max-width: 260px;
width: calc(25% - 20px);
}
.cardTitle{
    width: 100%;
    background: var(--accentUnchanged);
    padding: 20px 20px 0 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    
}
.cardFlex img{
    width: 52px;
    height: auto;
    position: relative;
    bottom: 7px;
}
.cardFlex h4{
    color: var(--bgUnchanged);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    font-family: Cinzel;
    text-wrap: wrap;
}
.cardFlex p{
    color: var(--accentUnchanged);
    font-family: "Red Hat Display";
    font-size: 16px;
    font-weight: 400;
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
}
/* TABLET */
@media (max-width: 900px){
.cardFlex{
width: calc(50% - 20px);
}
}

/* PHONE */
@media (max-width: 600px){
.cardFlex{
width: calc(100% - 20px);
}
}