.questFlex{
    display: flex;
    width: 100%;
    padding: 40px 70px;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid var(--accent2Unchanged);
    background: #F2F0E7;
}
.qsNo{
    color: var(--accent2Unchanged);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--accent2Unchanged);
    font-family: Zaslia;
    font-size: 72px;
    font-weight: 400;
    width: 96px;
    flex-shrink: 0;
}
.qsFlex{
    display: flex;
    width: 50%;
    max-width: 645px;
    gap: 10px;
    flex-shrink: 0;
    flex-direction: column;
}
.qsFlex div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qsFlex button{
    background: var(--bg2Unchanged);
    /* border: 1px solid var(--accent2Unchanged); */
}
.qsFlex button:hover{
    box-shadow: 4px 4px 0 0 var(--accent2Unchanged);
}
.qsFlex img {
    width: 82px;
}

.answer{
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all 200ms ease-in-out;
}
.qsFlex:active .answer{
    height: auto;
    opacity: 1;
}
h5{
    color: var(--accent2Unchanged);
    font-family: Cinzel;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
@media (max-width: 1000px) {

    .qsNo{
    font-size: 52px;
    width: 50px;
}
.questFlex{
    padding: 40px 42px;
    justify-content: space-between;
}
h5{
    font-size: 20px;
}
}
@media (max-width: 600px) {

    .qsNo{
    font-size: 52px;
    width: 50px;
}
.questFlex{
    padding: 40px 32px;
    justify-content: space-between;
    align-items: start;
}
h5{
    font-size: 18px;
}
.qsFlex {
    width: 80%;
}
.qsFlex img {
    width: 52px;
}
}