.item{
    color: var(--bg);
    text-align: center;
    font-family: "Red Hat Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    bottom: 0;
}
.item:hover{
    bottom: 3px;
    opacity: 0.8;
}