nav{
    display: inline-flex;
    align-items: center;
    gap: 14px;
    justify-content: space-between;
    width: 100%;
    text-wrap: nowrap;
}
@media (0px <= width <= 600px) {
    nav{
    display: none;
}
}

