nav{
    display: inline-flex;
    align-items: center;
    gap: 14px;
    justify-content: space-between;
    width: 100%;
    text-wrap: nowrap;
}
/* TABLET */
@media (max-width: 900px) {

}

/* MOBILE */
@media (max-width: 600px) {

}
