:root{
    --bg: #E9E6D5;
    --accent:#B12825;
    --accentText:#8E3635;
    --bgText: #FFFFFF;
}
.nightmode{
    --bg: #8E3635;
    --accent:#E9E6D5;
    --accentText:#FFFFFF;
    --bgText: #B12825;
}
@font-face {
    font-family:Zaslia ;
    src: url(./../assets/fonts/zaslia.regular.otf);
}
@font-face {
    font-family:Cinzel B ;
    src: url(./../assets/fonts/Cinzel-Bold.otf);
}
@font-face {
    font-family:Cinzel Regular ;
    src: url(./../assets/fonts/Cinzel-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 200ms ease-in-out;
}
body{
    background-color: var(--bg);
    font-family: "Red Hat Display";
}
header{
    display: flex;
    justify-content: space-between;
    display: inline-flex;
    padding: 20px 82px;
    align-items: center;
    width: 100%;
    max-width:560px ;
    right: 0;
    top: 0;
    background-color: var(--accent);
    position: fixed;
    z-index: 100;
}
ul{
    list-style: none;
}
li{
    list-style-type: none;

}
a{
    text-decoration: none;
    color: inherit;
}

.hero{
    display: flex;
    position: relative;
}
.heroimg{
    /* width: 40%; */
    width: auto;
height: 1278px;
/* aspect-ratio: 47/109; */
position: relative;
/* top: -40vh; */
top: -340px;
/* min-width: 334px; */
right: 100px;
}
h1{
    color: var(--accent);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--accent);
    font-family: Zaslia;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    max-width: 400px;
}
main{
    padding: 200px 74px 0 74px ;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;

}
.secContainer{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
/* TABLET */
@media (max-width: 900px) {

    .heroimg {
    /* width: 40%; */
    width: auto;
    height: 903px;
    /* aspect-ratio: 47 / 109; */
    position: relative;
    /* top: -40vh; */
    top: -180px;
    /* min-width: 334px; */
    right: 119px;
}

main {
    padding: 100px 30px 0 30px;
    width: 100%;
    box-sizing: border-box;
}

}

/* MOBILE */
@media (max-width: 680px) {
.heroimg {
        width: auto;
        height: 576px;
        position: relative;
        top: -70px;
        right: 107px;
}
main {
    padding: 100px 30px 0 30px;
    width: 100%;
    box-sizing: border-box;
}
}