/* :root{
    --bg: #E9E6D5;
    --accent:#B12825;
    --accentText:#8E3635;
    --bgText: #F2F0E7;
    --accentUnchanged: #B12825;
    --accent2Unchanged: #8E3635;
    --bgUnchanged: #E9E6D5;
    --bg2Unchanged: #F2F0E7;

}
.nightmode{
    --bg: #8f2927;
    --accent:#E9E6D5;
    --accentText:#F2F0E7;
    --bgText: #B12825;
    --accentUnchanged: #B12825;
    --accent2Unchanged: #8E3635;
    --bgUnchanged: #E9E6D5;
    --bg2Unchanged: #F2F0E7
} */
@font-face {
    font-family:Zaslia ;
    src: url(./../assets/fonts/zaslia.regular.otf);
}
@font-face {
    font-family:Cinzel B ;
    src: url(./../assets/fonts/Cinzel-Bold.otf);
}
@font-face {
    font-family:Cinzel Regular ;
    src: url(./../assets/fonts/Cinzel-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 200ms ease-in-out;
    float: left;
    max-width: 100vw;

}
body{
    background-color: var(--bg);
    font-family: "Red Hat Display";
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    display: inline-flex;
    padding: 20px 72px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width:580px ;
    right: 0;
    top: 0;
    background-color: var(--accent);
    position: fixed;
    z-index: 100;
}
ul{
    list-style: none;
}
li{
    list-style-type: none;

}
a{
    text-decoration: none;
    color: inherit;
}

.hero{
    display: flex;
    position: relative;
}
.heroContainer{
    display: flex;
    gap: 0;
    padding-top: 50px;
}
.heroimg{
    width: 551px;
    height: auto;
    position: relative;
    top: -340px;
    /* right: 100px; */
    max-height: 500px;
}
.heroimg img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
h1{
    color: var(--accent);
    font-family: Zaslia;
    font-size: 72px;
    text-transform: capitalize;
    max-width: 217px;
    font-weight: 600;
    width: auto;
}
h1 span{
    font-weight: 400;
}
h3{
    color: var(--accent);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--accent);
    font-family: Zaslia;
    font-size: 36px;
    font-weight: 400;
}
main{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    padding: 200px 82px 0 82px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.secContainer{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.heroText{
    width: 35%;
}
button{
    outline: none;
    border: none;
}
.buttonflex{
    display: flex;
    gap: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
    width: 100%;
}
.cardsContainer{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    flex-wrap: wrap;
    backdrop-filter: blur(2px);
    padding: 0 40px;
}
.aboutFlex{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}
.aboutSec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aboutSec img{
    width: 40%;
    height: auto;
    max-width: 389px;
}
.faq{
    margin: 0;
}
.faqSec{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.faqCardFlex{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contactFlex{
    gap: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background:var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent); 
}

.wrapper{
    max-width: 100vw;
    width: 100%;
    overflow: scroll;
}
.attFlex{
    display: inline-flex; 
    align-items: flex-start;
    max-width: unset;
}
.contact{
    display: flex;
    width: 100%;
    max-width: 100vw;

    gap: 60px;
    background: var(--accent);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.10), 0 8px 10px -6px rgba(0, 0, 0, 0.10);
    padding: 34px;
    justify-content: space-between;
    align-items: center;
}
.contact h1 {
    color: var(--bg);
    width: 25%;
    max-width: unset;
}
.contactFlex{
    display: flex;
    flex-direction: column;
    width: 67%;
    padding: 15px;
    background: var(--bg);
}
.form1{
    display: flex;
    gap: 20px;
}
footer{
    display: flex;
    flex-direction: row;
    background: var(--bgText);
    margin-top: 400px;
    width: 100%;
    padding: 72px;
    border-top: 1px solid var(--accent);
}
.col1{
    width: 50%;
}
.col2{
    display: flex;
    flex-direction: column;
    width: 25%;
}
/* MID */
@media (max-width: 1150px){
    .heroContainer{
    flex-direction: column;
}
.hero {
    justify-content: space-between;
}
.heroText {
    width: 48%;
}
}
/* TABLET */
@media (max-width: 1000px) {
    .heroimg {
    width: 50%;
    height: auto;
    position: relative;
    top: -180px;
    right: 0px;
    min-width: 316px;
}
.cardsContainer{
        padding: 0;
}
.hero {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
}
.contact{
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
}
.contactFlex{
    width: 80%;
}
.contact h1 {
    width: 100%;
    max-width: 389px;
}
.form1{
    flex-direction: column;
}
section {
    padding: 100px 42px 0 42px;
    width: 100%;
    box-sizing: border-box;
}
.heroContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
   padding-top: 0;
}
    .heroText {
        display: flex;
        flex-direction: column;
        width: 75%;
    }
    .cardsContainer{
    flex-wrap: wrap;
    justify-content: center;
    }
.aboutFlex {
    width: 53%;
}
.aboutSec img {
    width: 10%;
    height: auto;
    min-width: 249px;
    object-fit: contain;
}
}

/* MOBILE */
@media (0px <= width <= 600px) {
    .cardsContainer{
        padding: 0;
}
.contact{
    width: 100%;
    max-width: 100vw;
}
.heroimg {
        width: 50%;
        height: auto;
        position: relative;
        top: -70px;
        right: 0;
        min-width: 152px;
        object-fit: cover;
}
section{
    padding: 100px 15px 0 15px;
    width: 100%;
    box-sizing: border-box;
    display: flex;

}
h1{
    width: 50%;
    font-size: 42px;
}
.heroContainer{
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 0;
}
.heroText {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
}
.cardsContainer{
    flex-wrap: wrap;
    justify-content: flex-start;

    }
.aboutSec img {
    width: 10%;
    height: auto;
    min-width: 211px;
    object-fit: contain;
    margin-top: 20px;
}
.aboutFlex {
    width: 100%;
    max-width: 100vw;

}

}