:root{
    --bg: #E9E6D5;
    --accent:#B12825;
    --accentText:#8E3635;
    --bgText: #FFFFFF;
    --accentUnchanged: #B12825;
}
.nightmode{
    --bg: #8E3635;
    --accent:#E9E6D5;
    --accentText:#FFFFFF;
    --bgText: #B12825;
    --accentUnchanged: #B12825;

}
@font-face {
    font-family:Zaslia ;
    src: url(./../assets/fonts/zaslia.regular.otf);
}
@font-face {
    font-family:Cinzel B ;
    src: url(./../assets/fonts/Cinzel-Bold.otf);
}
@font-face {
    font-family:Cinzel Regular ;
    src: url(./../assets/fonts/Cinzel-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 200ms ease-in-out;
    float: left;
}
body{
    background-color: var(--bg);
    font-family: "Red Hat Display";
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    display: inline-flex;
    padding: 20px 82px;
    align-items: center;
    width: 100%;
    max-width:560px ;
    right: 0;
    top: 0;
    background-color: var(--accent);
    position: fixed;
    z-index: 100;
}
ul{
    list-style: none;
}
li{
    list-style-type: none;

}
a{
    text-decoration: none;
    color: inherit;
}

.hero{
    display: flex;
    position: relative;
}
.heroContainer{
    display: flex;
    flex-direction: row;
    gap: 0;
    padding-top: 50px;
}
.heroimg{
    width: 551px;
    height: auto;
    position: relative;
    top: -340px;
    /* right: 100px; */
    max-height: 500px;
}
.heroimg img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
h1{
    color: var(--accent);
    font-family: Zaslia;
    font-size: 72px;
    text-transform: capitalize;
    max-width: 217px;
    font-weight: 600;
    width: auto;
}
h1 span{
    font-weight: 400;
}
h3{
    color: var(--accent);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--accent);
    font-family: Zaslia;
    font-size: 36px;
    font-weight: 400;
}
p{
    color: var(--accentText);
    font-family: "Red Hat Display";
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0;
}
main{
    width: 100%;
    box-sizing: border-box;
}
section{
    padding: 100px 82px 0 82px;
    width: 100%;
    box-sizing: border-box;
}
.secContainer{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.heroText{
    width: 35%;
}
button{
    outline: none;
    border: none;
}
.buttonflex{
    display: flex;
    gap: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
    width: 100%;
}
.cardsContainer{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    flex-wrap: wrap;
    backdrop-filter: blur(2px);
    padding: 0 40px;
}
/* TABLET */
@media (max-width: 1000px) {

    .heroimg {
    width: 50%;
    height: auto;
    position: relative;
    top: -180px;
    right: 0px;
}
.cardsContainer{
        padding: 0;
}
.hero {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
}
h1{
    width: 50%;
}
section {
    padding: 100px 42px 0 42px;
    width: 100%;
    box-sizing: border-box;
}
.heroContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
   padding-top: 0;
}
    .heroText {
        display: flex;
        flex-direction: column;
        width: 75%;
    }
    .cardsContainer{
    flex-wrap: wrap;
    justify-content: center;
    }
}

/* MOBILE */
@media (0px <= width <= 600px) {
    .cardsContainer{
        padding: 0;
}
.heroimg {
        width: 50%;
        height: auto;
        position: relative;
        top: -70px;
        right: 0;
        min-width: 196px;
        object-fit: cover;
}
section{
    padding: 100px 15px 0 15px;
    width: 100%;
    box-sizing: border-box;
    display: flex;

}
h1{
    width: 50%;
    font-size: 54px;
}
.heroContainer{
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 0;
}
.heroText {
    display: flex;
    flex-direction: column;
    width: calc(80% - 30px);
}
p{
    font-size: 20px;
}
.cardsContainer{
    flex-wrap: wrap;
    justify-content: flex-start;

    }
}