:root{
    --bg: #E9E6D5;
    --accent:#B12825;
    --accentText:#8E3635;
    --bgText: #FFFFFF;
}
.nightmode{
    --bg: #8E3635;
    --accent:#E9E6D5;
    --accentText:#FFFFFF;
    --bgText: #B12825;
}
@font-face {
    font-family:Zaslia ;
    src: url(./../assets/fonts/zaslia.regular.otf);
}
@font-face {
    font-family:Cinzel B ;
    src: url(./../assets/fonts/Cinzel-Bold.otf);
}
@font-face {
    font-family:Cinzel Regular ;
    src: url(./../assets/fonts/Cinzel-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 200ms ease-in-out;
}
body{
    background-color: var(--bg);
    font-family: "Red Hat Display";
}
header{
    display: flex;
    justify-content: space-between;
    display: inline-flex;
    height: 80px;
    padding: 0 82px;
    align-items: center;
    width: 100%;
    max-width:600px ;
    right: 0;
    top: 0;
    background-color: var(--accent);
    position: fixed;
}
ul{
    list-style: none;
}
li{
    list-style-type: none;

}
a{
    text-decoration: none;
    color: inherit;
}

.hero{
    display: flex;
    position: relative;
}
h1{
    color: var(--accent);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--accent);
    font-family: Zaslia;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    max-width: 379px;
}
main{
    padding: 74px;
    width: 100%;
    box-sizing: border-box;
}
.secContainer{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}